* {
    margin:0;
    padding:0;
}
body {
    display:flex;
    gap:10%;
    flex-direction: column;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}
#createcontender {
    padding-left:5px;
    position: fixed;
    top:0;
    width:20%;
    height:100%;
    border-right:2px solid gray;
}
#selectcontest {
    margin-top:20%;
    padding-left:5px;
    position: fixed;
    top:40%;
    width:20%;
    height:100%;
    border-right:2px solid gray;
}
#selectcontest button {
    width:23%;
    aspect-ratio: 1/1;
    font-size:90%;
}
input {
    height:4%;
    margin-bottom:10px;
    width:90%;
    font-size:100%;
}
form {
    margin-top:1%;
    display:flex;
    flex-direction: column;
    input {
        width: 40%;
        aspect-ratio: 1/2;
        font-size:300%;
    }
    button {
        width:40%;
        aspect-ratio: 1/0.1;
    }
}
h2 {
    font-size:100%;
}
#content {
    margin-left:25%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: calc(auto);
    overflow-y: scroll;
    overflow-x:hidden;
    width:60%;
    height:100%;
    div {
        margin-top:10%;
        width:90%;
        height: fit-content;
        border-image: linear-gradient(#09aae0, #82509f, #eb3791, #d6098b, #f95a28, #ff9f00) 30;
        border-width: 10px;
        border-style: solid;
    }
}
video {
    width:90%;
    margin-left:5%;
    margin-right:5%;
}