* {
    margin: 0;
    padding: 0;
}
header{
    width:  100%;
    height: 25%;
    background: linear-gradient(90deg, #09aae0, #82509f, #eb3791, #d6098b, #f95a28, #ff9f00 );
    display: flex;

    img {
        height:100%;
        aspect-ratio: 1/1;
    }

}
h1 {
    text-align: center;
    color:  white;
    padding-top: 3%;
    font-size: 400%;
    margin-left: 20%;

        
}
body {
    height:100vh;
    width:100vw;
    background-color: black;
    overflow-x:hidden;
}

main{
    width: 80%;
    height: 200%;
    background-color: #3A3B3C;
    margin-left: 10%;
    margin-right: 10%;
}

main:after {
    content: ""; 
    position: absolute; 
    inset: 7%;
    /*background: linear-gradient(#09aae0, #82509f, #eb3791, #d6098b, #f95a28, #ff9f00);
    */
    filter: blur(5.5em); 
    z-index: -1; 
}

#content{
    display:flex;
    flex-wrap: wrap;
    
    div{
        width: 45%;
        background-color: purple;
        /*linear-gradient(90deg, #09aae0, #82509f, #eb3791, #d6098b, #f95a28, #ff9f00 );*/
        margin-left: calc(10%/3);
        margin-top: 10%;
        border-radius: 25px;
        transition:0.4s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.675);
        cursor:pointer;
        overflow:hidden;
        &:hover {
            scale:1.05;
        }
    }
    h2 {
        font-size:200%;
    }
    .wrapper {
        width:60%;
        aspect-ratio: 1/1;
        margin-left:5%;
        margin-bottom: calc(10%/3);
        border: 20px solid #ffff;
        display:flex;
        animation: slide 16s infinite;
        img {
            width:100%;
            aspect-ratio: 1/1;
        }
    }
}

h2{
    text-align: center;
}